/* main.js styles */
.main{
  background-image: url('images/backpic.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.userName {
  color: #fbff00;
}
.r{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.center{
  align-items: center;
  text-align: center;
}
.image{
  margin: 0px 50px;
}
.logo{
  position: relative;
  top:-3%;
}
.text .row{
  width: 90%;
  margin-left: 3%;
}
.text{
  position: relative;
  top:1%
}
.text .row h1 {
  background-color:#ffff00;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size:x-large;
  font-weight: bold;
  cursor: none;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.61);
  font-family: 'Arial Bold', sans-serif;
}
.text .row .center button {
  cursor: pointer;
  background-color: #00981c;
  border-radius: 10px;
  border-color: black;
  border-top: #ffffff;
  border-left: #ffffff;
  color: wheat;
  font-weight: bold;
  padding: 10px 20px;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.61);
  font-size: larger;
  font-weight: bold;
  font-family: cursive;

}
.text .row .center button:hover {
  background-color: #fbff00;
  color: black;
}


/* grid.js styles */
.grid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.gridboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  text-align: center;
  background-image: url('images/board2.jpg');
  background-size: cover;
  border-radius: 10px;
  padding:0px;
  margin: 0px;
}
.board{
  background-image: url('./images/backpic.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  
}
.dice img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  cursor: none;
}
.icon .row  button{
  font: size 1px;
  border: none;
  font-size: medium;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 5px black;
  border-radius: 5px;
  background-color: rgb(255, 68, 0);
  padding: 10px 12px;
  width: fit-content;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.61);
} 
.dice button {
  display: block;
  height: 40px;
  width: 80px;
  background-color: #00981c;
  color: #f5ffcf;
  border: black;
  font-size: 13px;
  font-family: Cambria;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.61);
}
button:hover {
  background-color: #fbff00;
  color: black;
}
.msg {
    height: 80px;
    
    font-family: cursive;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    transform: perspective(500px) rotateX(10deg);
}

.msg h1 {
    color: rgb(255, 2, 2);
    font-size: 30px !important;
}
.winner{
   font-weight: bold;
   text-align: left;
   margin-left: 20% ;
}
.tog {
   
    height: 90px;
   
    font-size:x-large;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: perspective(500px) rotateX(10deg);
}

.tog span {
    color: blue;
}

.tog h2 {
    color: #ffffff;
}

.card{
  border-radius: 10px;
  background-image: linear-gradient(135deg,rgb(255, 255, 255,0.1),rgb(255, 255,255,0.05));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  background-color:transparent;
  padding: 30px;
  box-shadow: 2px 2px 5px white,inset 2px 2px 5px white;
}
input{
  border: none;
  border-radius: 5px;
  padding:5px;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color:transparent !important;
  outline: none;
  padding-bottom: 5px;
  color: white;
}
::placeholder{
  color: rgb(229, 233, 244);
  font-size: small;
}
.header{
  text-align: center;
  font-weight: bolder;
  color:rgb(255, 255, 255);
  text-transform: uppercase;
  
}
.btn, .google{
  padding:2px 5px;
  /* background-image: linear-gradient(45deg,rgb(151, 45, 200),rgb(37, 153, 185)); */
  background-color: rgb(227, 135, 22);
  color: white !important;
}
.btn:hover, .google:hover{
  background-color: rgb(227, 128, 22);
  transform: scale(1.05);
}
.login{
  position: relative;
 
  display: flex;
  height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}
a{
  color:  #fbff00;
  text-decoration:none;
  
  font-weight: bold;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}
.leader{
  color: rgb(79, 49, 0);
  font-weight: bold;
}
.modal-body{
  margin: 30px;
  border-radius: 2px;
  /* background-color: rgb(229, 138, 35); */

}
.modal-content {
  background-image: url('./images/winningbg.png');
  background-size: cover;
  color: white;
  background-color:transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.modal-footer {
  display: flex;
  justify-content: center; /* Center align the button horizontally */
  padding: 10px;
}
@media (min-width:0px) and (max-width:376px){
  .gridboard {
    height: 300px;
    width: 300px;
  }
  .board .row .logo{
    position: relative;
    top:-307px;
  }
  .gridboard{
    position: relative;
    top:50px
  }
  .modal-content{
    width: 90% !important;
  }

}
@media (min-width:376px) and (max-width:500px){
  .gridboard {
    height: 350px;
    width: 350px;
  }
  .board .row .logo{
    position: relative;
    top:-410px;
    width: 90%;
  }
  .gridboard{
    position: relative;
    top:10px
  }
  .modal-content{
    width: 85% !important;
  }
}
@media (min-width:501px) and (max-width:767px){
  .gridboard {
    height: 450px;
    width: 450px;
  }
  .board .row .logo{
    position: relative;
    top:-500px;
    width: 80%;
  }
  .gridboard{
    position: relative;
    top:50px;
  }
  .modal-content{
    width: 50% !important;
  }
} 

@media (min-width:768px) and (max-width:990px){
  .gridboard {
    height: 400px;
    width: 400px;
   
  }
  .modal-content{
    width: 50% !important;
  }
}
@media  (min-width:991px) and  (max-width:1439px){
  .gridboard {
    height: 510px;
    width: 510px;
  }
  .modal-content{
    width: 30% !important;
  }

} 

@media  (min-width:1440px) {
  .gridboard {
    height: 710px;
    width: 710px;
  }
  .dice img {
    width: 130px;
    height: 130px;
}
.dice button {
  display: block;
  height: 60px;
  width: 130px;
  font-size: 25px;
}
.icon .row button{
  font-size: larger;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}
.modal-content{
  width: 30% !important;
}
} 
